{% extends 'aplicacion/base.html' %}
{% load static %}

{% block barra %}
    <li class="nav-item"><a class="nav-link" href="{% url 'maestros' %}">Atras</a></li>
{% endblock barra %}

{% block titulo %}
    Buscar Maestro
{% endblock titulo %}

{% block contenido %}
    <h2>Buscar maestro</h2>
    <form action="/buscar1" method="get">
        {% csrf_token %}
        <p>Patron a Buscar en maestros: <input type="text" name="buscar" id="buscar"></p>  
        <input type="submit" value="Enviar"> 
    </form>
{% endblock contenido %}