{% extends 'aplicacion/base.html' %}
{% load static %}

{% block barra %}
    <li class="nav-item"><a class="nav-link" href="{% url 'FormMaestro' %}">Agregar Maestro</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'buscar_maestro' %}">Buscar Maestro</a></li>
{% endblock barra %}

{% block titulo %}
    <p class="lead">Maestros</p>
{% endblock titulo %}
    

{% block contenido %}
    <br>
    <h2><i>Listado de Maestros</i></h2>
    <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Materia que enseña</th>
            </tr>
        </thead>
        <tbody>
            {% for m in maestros %}
                <tr>
                    <td>{{ m.nombre }}</td>
                    <td>{{ m.apellido }}</td>
                    <td>
                        {% for materia in m.profesion.all %}
                            {{ materia.nombre }}
                            {% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
     
        
{% endblock contenido %}