{% extends 'aplicacion/base.html' %}
{% load static %}

{% block titulo %}
    <p class="lead">Materias</p>
{% endblock titulo %}
    

{% block contenido %}
    <br>
    <h2><i>Materias que ofrecemos</i></h2>
    <br>

    <table class="table table-striped">
        <thead>
             <tr>
                <th>Materia</th>
                <th>Comision</th>
             </tr>
        </thead>
        <tbody>
            {% for m in materias %}
                <tr>
                    <td>{{ m.nombre }}</td>
                    <td>{{ m.comision }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
        
{% endblock contenido %}